body{
    background-color: aliceblue;
    font-family: 'Mansalva', cursive;
}
h1 {
    font-size: 48px;
    font-family: "Bodoni MT Condensed", sans-serif ;
}
p{
    font-size: 24px;
    font-family: Chiller, serif;
}
h2{
    font-size: 32px;
    color: blue;
}
table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}
img{
    width: 640px;
    height: 480px;
    border: 3px solid black;
    border-radius: 10%;
    border-color: crimson;
}

#African{
    border-color: blue;
}
#probo{
    background-color: aqua;
}